
@import url('http://fonts.cdnfonts.com/css/cairo');
@import url('http://fonts.cdnfonts.com/css/montserrat');
@font-face {
   font-family: Roboto ;
   src: url("/fonts/IBMPlexSansArabic-Bold.ttf");
   src: url("/fonts/IBMPlexSansArabic-ExtraLight.ttf");
   src: url("/fonts/IBMPlexSansArabic-Light.ttf");
   src: url("/fonts/IBMPlexSansArabic-Medium.ttf");
   src: url("/fonts/IBMPlexSansArabic-Regular.ttf");
   src: url("/fonts/IBMPlexSansArabic-SemiBold.ttf");
   src: url("/fonts/IBMPlexSansArabic-Thin.ttf");
 }
*{
    font-family: 'Montserrat', sans-serif;
   }
.hero .image-content img{
    width: 100%;
 }
 .hero .text-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
 }
 .hero .text-content h1{
    width: 185%;
    line-height: 1.3;
    z-index: 2;
    font-size: 4.5rem;
    font-weight: 700;
 }
.icons-section{
    padding: 75px 0;
}
.icons-section .boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.icons-section .boxes .box{
    display: flex;
    align-items: center;
    justify-content: center;
}
.icons-section .boxes .box img{
    width: 50px;
    margin-right: 20px;
}
.icons-section .box h5{
    font-size: 1.4rem;
    font-weight: 700;
}
.icons-section .boxes .box span{
    color: var(--main-color);
    font-size: 1.6rem;
    font-weight: 700;
}
/* Vision */
.vision{
    padding: 50px 0;
    position: relative;
}
.vision .text-content h2{
    margin-bottom: 25px;
    font-size: 3.2rem;
    font-weight: 900;
}
.vision .text-content p{
    text-align: justify;
    opacity: .5;
    width: 66%;
    font-size: 1.6rem;
    font-weight: 800;
    line-height: 1.5;
}
.vision .slider i.fa.fa-chevron-right{
    font-size: 1.6rem;
    width: 45px;
    height: 45px;
    color: var(--white);
    background: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    right: -18px;
    top: 40%;
}
/* Message */
.message{
    padding: 50px 0;
    position: relative;
}
.message h2{
    text-align: center;
    font-size: 3.2rem;
    font-weight: 900;
}
.message p{
    font-size: 1.5rem;
    width: 60%;
    line-height: 1.5;
    margin: 0 auto 25px;
    text-align: center;
    font-weight: 800;
    opacity: .5;
}
.message .message-carousel{
    width: 80%;
    margin: 0 auto;
}
/* Message 2 */
.message-2{
    padding: 50px 0;
    position: relative;
}
.message-2 .text-content h2{
    margin-bottom: 25px;
    font-size: 3.2rem;
    font-weight: 900;
}
.message-2 .text-content p{
    text-align: justify;
    opacity: .5;
    width: 71%;
    font-size: 1.6rem;
    font-weight: 800;
    line-height: 1.5;
}
.message-2 .slider i.fa.fa-chevron-right{
    font-size: 1.6rem;
    width: 45px;
    height: 45px;
    color: var(--white);
    background: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    right: -18px;
    top: 40%;
}
.message-2 .owl-carousel .owl-item img{
    width: 80% ;
    border-radius: 8px;
    margin: 0 auto;
}
/* Goals */
.goals{
    padding: 50px 0;
    position: relative;
}
.goals .image-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.goals .image-content img{
    width: 80%;
    border-radius: 8px;
}
.goals .mobile{
    display: none;
}

.goals .text-content h2{
    font-size: 3.2rem;
    font-weight: 900;
}

.goals .text-content ul{
    list-style: none;
}
.goals .text-content li{
    margin: 10px 0;
    display: flex;
    align-items: flex-start;
}
.goals .text-content li img{
    width: 13px;
    margin-top: 10px;
    margin-right: 3px;
}
.goals .text-content li p{
    text-align: justify;
    font-size: 1.5rem;
    font-weight: 800;
    opacity: .5;
}
/* Services */
.services{
    position: relative;
    padding: 50px 0;
}
.services h2{
    font-weight: 900;
    text-align: center;
    font-size: 3.2rem;
    margin-bottom: 25px;
}
.services .services-images{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.services .services-images img{
    width: 24%;
    border-radius: 8px;
}
.angry-grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 0.5fr 1fr;
    grid-gap: 1em;
    height: 360px;
 }
 .angry-grid div:hover{
    transition: .5s;
    background-size : 104% 104% !important;
 }
 #item-0 {
    background: url(/img/services-1.png);
    background-size: 100% 100%;
    grid-row-start: 1;
    grid-column-start: 5;
    grid-row-end: 4;
    grid-column-end: 8;
 }
 #item-1 {
    background: url(/img/services-2.png);
    background-size: 100% 100%;
    grid-row-start: 1;
    grid-column-start: 4;
    grid-row-end: 3;
    grid-column-end: 5;
 }
 #item-2 {
    background: url(/img/services-3.png);
    background-size: 100% 100%;
    grid-row-start: 3;
    grid-column-start: 4;
    grid-row-end: 4;
    grid-column-end: 5;
 }
 #item-3 {
    background: url(/img/services-4.png);
    background-size: 100% 100%;
    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 3;
    grid-column-end: 4;
 }
 #item-4 {
    background: url(/img/services-5.png);
    background-size: 100% 100%;
    grid-row-start: 3;
    grid-column-start: 2;
    grid-row-end: 4;
    grid-column-end: 4;
 }
 #item-5 {
    background: url(/img/services-6.png);
    background-size: 100% 100%;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 2;
 }
 #item-6 {
    background: url(/img/services-7.png);
    background-size: 100% 100%;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-column-end: 2;
 }
.services .services-p {
    opacity: .5;
    font-size: 1.6rem;
    font-weight: 800;
    line-height: 1.5;
    margin: 20px 0;
 }
.services ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 90%;
    margin: 0 0 0 auto;
}
.services ul li{
    margin: 0 0 10px 0;
    width: 50%;
    display: flex;
    align-items: center;
}
.services ul li img{
    width: 15px;
    margin-right: 4px;
}
.services ul li p{
    font-size: 1.5rem;
    font-weight: 800;
    opacity: .5;
}
/* Success Partners */

.success-partners{
    position: relative;

}
.success-partners h2{
    text-align: center;
    font-weight: 300;
    font-size: 3.2rem;
}
.success-partners .images{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.success-partners .images img{
    width: 12%;
}
.success-partners .single-image{
    display: flex;
    justify-content: center;
    margin-top: 75px;
    margin-bottom: 20px;
}
.success-partners .single-image img{
    width: 40%;
}
/* Contact */
.contact-form{
    padding: 75px 0;
}
.contact-form h2{
    font-weight: 900;
    font-size: 3.2rem;
}

.contact-form p{
    font-size: 1.5rem;
    font-weight: 800;
    opacity: .5;
}
.contact-form .map{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-form .map iframe{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.contact-form form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.contact-form form input{
    border: 1px solid var(--main-color);
    padding: 10px;
    border-radius: 5px;
    width: 49%;
    margin: 15px 0;
    font-weight: 700;
}
.contact-form form input[type='submit']{
    width: auto;
    cursor: pointer;
    background: var(--main-color);
    color: var(--white);
    border-radius: 4px;
    padding: 8px 40px;
    font-size: 1.4rem;
    font-weight: 500;
}
.contact-form form textarea{
    margin: 15px 0;
    border: 1px solid var(--main-color);
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    height: 100px;
    font-weight: 700;
}
.team{
    padding: 75px 0;
}
.team h2{
    text-align: center;
    font-size: 3.2rem;
    margin-bottom: 25px;
}
/* Responsive */
@media (min-width:1200px){
.message-2 .text-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
}
@media (max-width:1200px){

}
/* ************* */
@media (max-width:991px){

}
/* ************* */
@media (max-width:768px){
    .hero .text-content h1{
        margin-bottom: 20px;
        text-align: center;
        width: 100%;
        font-size: 2.2rem;
        z-index: 1;
    }
    .angry-grid {
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 0.5fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        height: 600px;
    }
    .icons-section,
    .vision,
    .message,
    .goals,
    .services,
    .contact-form{
        padding: 30px 0;
    }
    .icons-section .boxes .box img{
        width: 35px;
    }
    .icons-section .boxes .box{
        width: 50%;
        margin: 15px 0;
    }
    .vision .text-content h2,
    .goals .text-content h2{
        text-align: center;
    }
    .vision .text-content h2{
        margin-bottom: 25px;
    }
    .vision .text-content p,
    .message p{
        width: 100%;
        text-align: center;
    }
    .vision .text-content p:not(:last-child){
        margin: 0;
    }
    .vision .slider i.fa.fa-chevron-right{
        width: 30px;
        height: 30px;
        right: -12px;
    }
    .vision-carousel{
        margin-top: 25px;
    }
    .goals .image-content .desktop{
        display: none;
    }
    .goals .mobile{
        border-radius: 8px;
        margin: 25px 0;
        display: block;
        width: 100%;
    }
    .goals .text-content li img{
        width: 9px;
        margin-top: 7px;
    }
    .message .message-carousel{
        width: 100%;
    }
    .contact-form .row{
        display: flex;
        flex-direction: column-reverse;
    }

    #item-0 {
        grid-row-start: 1;
        grid-column-start: 1;
        grid-row-end: 4;
        grid-column-end: 6;
     }
     #item-1 {
        grid-row-start: 4;
        grid-column-start: 4;
        grid-row-end: 7;
        grid-column-end: 6;
     }
     #item-2 {
        grid-row-start: 4;
        grid-column-start: 1;
        grid-row-end: 7;
        grid-column-end: 4;
     }
     #item-3 {
        grid-row-start: 7;
        grid-column-start: 3;
        grid-row-end: 9;
        grid-column-end: 6;

     }
     #item-4 {
        grid-row-start: 7;
        grid-column-start: 1;
        grid-row-end: 9;
        grid-column-end: 3;
     }
     #item-5 {
        grid-row-start: 9;
        grid-column-start: 4;
        grid-row-end: 11;
        grid-column-end: 6;
     }
     #item-6 {
        grid-row-start: 9;
        grid-column-start: 1;
        grid-row-end: 11;
        grid-column-end: 4;
     }
     .services ul{
        width: 100%;
     }
     .services ul li{
        width: 100%;
     }
     .success-partners .images{
        flex-wrap: wrap;
    }
    .success-partners .images img{
        width: 40%;
        margin: 8% auto;
    }
    .success-partners .single-image img{
        width: 100%;
    }
    .services .services-images img{
        width: 49%;
        margin-top: 2%;
        border-radius: 8px;
    }
    .message-2 .owl-carousel .owl-item img{
        margin-top: 25px;
        width: 100%;
    }
    .message-2 .text-content h2{
        text-align: center;
    }
    .message-2 .text-content p{
        width: 100%;
        text-align: center;
    }
}
/* ************* */
@media (max-width:500px){

}
/* Scroll Top */
#scroll_top{
    transform: rotate(90deg);
    right: -60px;
}
